/*Arquivo de CSS*/
body {
	background-color:#000;
	color:#fff;
	font-family:Arial, Helvetica, Verdana;
	font-size:14px;
	font-weight:bold;
	text-align:justify;
}

section {
	width:90%;
	margin:auto;
}

header {
	width:100%;
	height:200px;
	background-color:#C71585;
}
nav{
	width:100%;
	height:50px;
	background-color:#FF1493;
}
article {
	width:100%;
	height:500px;
	background-color:#FFC0CB;
}
footer {
	width:100%;
	height:50px;
	background-color:#FF1493;
	clear:both;
}